MONGO_URI=mongodb://127.0.0.1:27017/nexus_db"
JWT_SECRET=vraimentUnSecretTrèsLong


# URLs
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000

# GitHub OAuth App — à configurer sur https://github.com/settings/developers
GITHUB_CLIENT_ID=ExampleidBJFEJFZE
GITHUB_CLIENT_SECRET=exemplecleeoizfheziofhzeiohf
GITHUB_REDIRECT_URI=http://localhost:5000/api/github/callback